body {
padding: 0px; margin: 0px; background: #FFFFFF;
}
/*--- navigation bar ---*/
.navbar { background:#C0C0C0;
}
.nav-link, .navbar-brand {
color: #000000;
cursor: pointer; }
.nav-link {
margin-right: 1em !important;
} .nav-link:hover {
color: #0B5DEC; }
.navbar-collapse { justify-content: flex-end;
}




.page-footer { background-color: #222; color: #ccc;
padding: 60px 0 30px;
}
.footer-copyright { color: #666; padding: 40px 0;
}

@media (max-width: 575.98px) {
.description {
left: 0;
padding: 0 15px; position: absolute; top: 10%; transform: none; text-align: center;
}
.description h1 {
font-size: 2em; }
.description p { font-size: 1.2rem;
}
.features { margin: 0;
} }


